{% extends 'partials/base.html' %}
{% load static %}

{% block extra_css %}
<!-- DataTables -->
<link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block contents %}   

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Station List</h4>
                <table id="datatable" class="table table-bordered dt-responsive  nowrap w-100">
                    <thead>
                    <tr>
                        <th >Station Name</th>
                        <th>Device ID</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                    <tbody>
                        {% for station in station_list %}
                        <tr>
                            <td>{{station.station_name}}</td>
                            <td>{{station.device_id}}</td>
                            <td>
                                <a href="{% url 'station-data' station.device_id %}">
                                    <button type="button"
                                        class="btn btn-primary btn-sm btn-rounded waves-effect waves-light">
                                        Select
                                    </button>
                                </a>
                            </td>
                           
                        </tr>
                        {% endfor %}
                    
                    </tbody>
                </table>

            </div>
        </div>
    </div> <!-- end col -->
</div> <!-- end row -->
        

<!-- End Page-content -->
{% endblock %}
{% block extra_javascript %}
        <!-- Required datatable js -->
        <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

        <!-- Buttons examples -->
        <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
        <script src="{% static 'libs/jszip/dist/jszip.min.js' %}"></script>
        {% comment %} <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script> {% endcomment %}
        {% comment %} <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script> {% endcomment %}
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
        
        <!-- Responsive examples -->
        <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

        <!-- Datatable init js -->
        <script src="{% static 'js/pages/datatables.init.js' %}"></script>
        
        
{% endblock %} 